/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

main color: #087f5b
grey color : #343a40
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter" , sans-serif;
  color: #343a40;
  border-bottom: 8px solid #0ca678;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

header,
section {
  margin-bottom: 128px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}


.btn:link,
.btn:visited{
  background-color: #087f5b;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px ;
}
.btn:hover,
.btn:active{
  background-color: #0ca678;
}

.btn--big{
  padding: 16px 32px;
}

.btn--small{
  font-size: 14px;
  padding: 8px 12px;
}

img{
  border-radius: 12px;
}

.display-none{
  display: none !important;
}
/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */


/********************************/
/*Navigation*/
/********************************/
.main-nav-list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav-link:link , .main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active{
  color: #087f5b;
}

.main-nav-link.nav-cta:link , .main-nav-link.nav-cta:visited{
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #087f5b;
}
.main-nav-link.nav-cta:hover , .main-nav-link.nav-cta:active{
  background-color: #0ca678;
}

/********************************/
/*Mobile menu*/
/********************************/
.responsiveMenu {
  display: none;
  cursor: pointer;
}
.responsiveMenuIcon {
  height: 40px;
  width: 40px;
  margin-top: 42px;
}
.responsiveMenuOpen {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background-color: #087f5b;
  color: #fff;
  border-radius: 0 0 0 10px;
  padding: 1rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.responsiveMenuItem {
  font-weight: 400;
  font-size: 1.25rem;
  cursor: pointer;
  border-bottom: 1px solid #087f5b;
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.responsiveMenuItem:active {
  color: #54372B;
  border-bottom: 1px solid #221518;
}
.closeIcon {
  font-size: 30px;
  cursor: pointer;
  align-self: end;
  margin-right: 8px;
  height: 2rem;
}



/* HEADER */
.header-grid {
  display: grid;
  column-gap: 80px;
  margin-top: 32px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  /*text-shadow: 0 5px 5px rgba(0 , 0 , 0 , 0.2);*/
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.header-grid img {
  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
}

/* FEATURES */
.features{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.features-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}


/* TESTIMONIAL */
.testimonial-section {
  background-color: #0ca678;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-grid{
  display: grid;
  column-gap: 80px;
}

.testimonial-grid img{
  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
}

.testimonial-box {
  align-self: center;
  /*grid-row: 1;*/
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  color: #e6fcf5;
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.testimonial-author{
  color: #c3fae8;
}

/* CHAIRS */
.chair{
  box-shadow: 0 20px 30px 0 rgba(0 , 0 , 0 , 0.07);
  border-radius: 12px;
}

.chair img{
  border-radius: 12px 12px 0 0;
}

.chair-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}
.chairs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chairs img{
  width: 100%;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}
